vim/.VimballRecord
vim/tmp/
vim/bundle/
vim/ftbundle/
emacs/elpa/
emacs/data
emacs/.cask
cmus/cache
cmus/command-history
cmus/lib.pl
cmus/playlist.pl
cmus/search-history
cmus/socket
irssi/config.autosave
emacs/custom.el
.yas-compiled*
mpd/mpd.db
mpd/mpd.pid
mpd/mpd.state
mpd/playlists
