/**
 * Custom style for websites
 */
/* Bigger font size for Google Reader, Wikipedia body */
.entry-body .item-body,
.li,
.mw-content-ltr,
#mainContent {
  font-size: 20px;
  line-height: 1.5em;
  text-rendering: optimizeLegibility;
}

/* truyenyy.com */
#noidungtruyen {
  max-width: 700px;
  margin: 0 auto;
}
